@{
    ViewBag.Title = "Index";
}

<p>@Html.ActionLink("Tecnologias", "Index", "Tecnologia")</p>
<p>@Html.ActionLink("Candidatos",  "Index", "Candidato")</p>
<p>@Html.ActionLink("Vagas",       "Index", "Vaga")</p>
<p>@Html.ActionLink("Relatorio",   "Index", "Relatorio")</p>
